$dark-blue: #344996;
$middle-grey: #8B8B8B;
$number-colors: #E8A600 #F98F5B #FFB3C6 #AC0B2C;
$gold: nth($number-colors, 1);
$orange: nth($number-colors, 2);
$pink: nth($number-colors, 3);
$red: nth($number-colors, 4);